// контейнер

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1310px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Regular.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Regular.woff) format('woff'),
        url(assets/fonts/Gilroy-Regular.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Bold.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Bold.woff) format('woff'),
        url(assets/fonts/Gilroy-Bold.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Black.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Black.woff) format('woff'),
        url(assets/fonts/Gilroy-Black.ttf) format('TrueType');
}

// scss переменные 

$main-color: #1A1714;
$accent-color: #45C1F2;
$gray-color: #DDDCDC;
$font: "Gilroy", sans-serif;

// css переменные

:root {
    --var-main-color: #1A1714;
    --var-accent-color: #45C1F2;
    --var-gray-color: #DDDCDC;
    --var-main-font: "Gilroy", sans-serif;
}

body {
    font-family: var(--var-main-font);
    color: var(--var-main-color);
}

.main-btn {
        display: block;
        padding: 23px 40px;
        box-sizing: border-box;
        background-color: var(--var-accent-color);
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: .35s ease;
    &.transparent-btn {
        border: 1px solid var(--var-accent-color);
        background-color: #fff;
        color: var(--var-accent-color);
        &:hover {
            background-color: var(--var-accent-color);
        color: #fff;
        }
    }
    &:hover {
        outline: 1px solid var(--var-accent-color);
        background-color: #fff;
        color: var(--var-accent-color);
    }
    @media(max-width:920px) {
        font-size: 14px;
        padding: 13px 20px;
    }
    @media(max-width:560px) {
        padding: 10px 17px;
        font-size: 14px;
    }
}

.burger-btn {
    display: block;                       
    position: relative;
    height: 38px;
    width: 30px;
    border: none;
    background-color: transparent;
    span {
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        background-color: var(--var-main-color);
        height: 2px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 100%;
        height: 2px;
        background-color: var(--var-main-color);
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 50%;
        height: 2px;
        background-color: var(--var-main-color);
    }
}


.section-title {
    .title {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        color: var(--var-main-color);
        line-height: 1.3;
        display: block;
    }
}
