// контейнер

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1310px;
    box-sizing: border-box;
    &.big-container {
        max-width: 1490px;
        .alt-title {
            max-width: 1290px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Regular.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Regular.woff) format('woff'),
        url(assets/fonts/Gilroy-Regular.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Bold.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Bold.woff) format('woff'),
        url(assets/fonts/Gilroy-Bold.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Black.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Black.woff) format('woff'),
        url(assets/fonts/Gilroy-Black.ttf) format('TrueType');
}

// scss переменные 

$main-color: #1A1714;
$accent-color: #45C1F2;
$gray-color: #DDDCDC;
$font: "Gilroy", sans-serif;

// css переменные

:root {
    --var-main-color: #1A1714;
    --var-accent-color: #45C1F2;
    --var-gray-color: #DDDCDC;
    --var-main-font: "Gilroy", sans-serif;
}

body {
    font-family: var(--var-main-font);
    color: var(--var-main-color);
}

.main-btn {
        display: block;
        padding: 23px 40px;
        box-sizing: border-box;
        background-color: var(--var-accent-color);
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: .35s ease;
    &.transparent-btn {
        border: 1px solid var(--var-accent-color);
        background-color: #fff;
        color: var(--var-accent-color);
        &:hover {
            background-color: var(--var-accent-color);
        color: #fff;
        }
    }
    &:hover {
        outline: 1px solid var(--var-accent-color);
        background-color: #fff;
        color: var(--var-accent-color);
    }
    @media(max-width:920px) {
        font-size: 14px;
        padding: 13px 20px;
    }
    @media(max-width:560px) {
        padding: 10px 17px;
        font-size: 14px;
    }
}

.burger-btn {
    display: block;                       
    position: relative;
    height: 38px;
    width: 30px;
    border: none;
    background-color: transparent;
    span {
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        background-color: var(--var-main-color);
        height: 2px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 100%;
        height: 2px;
        background-color: var(--var-main-color);
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 50%;
        height: 2px;
        background-color: var(--var-main-color);
    }
}


.section-title {
    .title {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        color: var(--var-main-color);
        line-height: 1.3;
        display: block;
    }
}


.breaker {
    padding: 20px 0 100px;
    box-sizing: border-box;
    // .breaker__wrap

    &__wrap {
        display: flex;
        box-sizing: border-box;
        padding: 60px;
        align-items: center;
        justify-content: space-between;
        background-image: url(assets/imgs/breaker.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .text {
            margin-right: 30px;
            p {
                font-size: 28px;
                margin: 0;
                display: block;
                line-height: 1.5;
                color: #fff;
            }
        }
        .action {
            width: 100%;
            max-width: 295px;
            .main-btn {
                width: 100%;
                max-width: 295px;
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
}

@media(max-width:1024px) {
    .breaker {
        padding: 25px 0 100px;
        &__wrap {
            flex-direction: column;
            padding: 50px;
            .text {
                width: 100%;
                max-width: 510px;
                margin: 0;
                margin-bottom: 35px;
                p {
                    text-align: center;
                    font-size: 28px;
                }
            }
            .action {

            }
        }
    }
}
@media(max-width:560px) {
    .breaker {
        padding: 15px 0 70px;
        &__wrap {
            padding: 40px 15px ;
            .text {
                margin-bottom: 40px;
                p {
                    font-size: 20px;
                }
            }
            .action {
                .main-btn {
                    font-size: 14px;
                }
            }
        }
    }
}

.section-nav {
    display: none;
}
@media(max-width:767px) {
    .section-nav {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        .prods-prev {
            border: none;
            background-color: transparent;
            img {
                max-width: 100%;
                transform: rotate(180deg);
            }
        }
        .prods-next {
            border: none;
            background-color: transparent;
            img {
                max-width: 100%;

            }
        }
        .pagination {
            width: fit-content;
            margin: 0 25px;
            .swiper-pagination-bullet {
                outline: 1px solid #45C1F2;
                opacity: 1;
                background-color: transparent;
                width: 8px;
                height: 8px;
                &.swiper-pagination-bullet-active {
                    background-color: #45C1F2;
                }
            }
        }
    }
}

.standart-nav-slider {
    z-index: 1000;
    .prev-slide {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: transparent;
        img {
            max-width: 100%;
            transform: rotate(180deg);
        }
    }
    .next-slide {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: transparent;
        img {
            max-width: 100%;
        }
    }
    @media(max-width:1440px) {
        .prev-slide {
            bottom: 0;
            height: fit-content;
            top: auto;
            transform: none;
            left: calc(50% - 80px);
        }
        .next-slide {
            width: fit-content;
            bottom: 0;
            height: fit-content;
            top: auto;
            transform: none;
            left: calc(50% + 55px);
        }
    }
}

.standart-pagination{
    display: none;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    @media(max-width:1440px) {
        display: block;
    }
    .swiper-pagination-bullet {
        pointer-events: all;
        border: 1px solid #45C1F2;
        opacity: 1;
        background-color: transparent;
        &.swiper-pagination-bullet-active {
            background-color: var(--var-accent-color);
        }
    }
}