// контейнер

.notice {
    position: fixed;
    bottom: 15px;
    right: 0;
    text-align: center;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .1);
    border-radius: 15px;
    padding: 30px 15px;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 320px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    &.active {
        visibility: visible;
        right: 15px;
        opacity: 1;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1310px;
    box-sizing: border-box;
    &.big-container {
        max-width: 1490px;
        .alt-title {
            max-width: 1290px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Regular.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Regular.woff) format('woff'),
        url(assets/fonts/Gilroy-Regular.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Bold.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Bold.woff) format('woff'),
        url(assets/fonts/Gilroy-Bold.ttf) format('TrueType');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src:
        url(assets/fonts/Gilroy-Black.woff2) format('woff2'),
        url(assets/fonts/Gilroy-Black.woff) format('woff'),
        url(assets/fonts/Gilroy-Black.ttf) format('TrueType');
}

// scss переменные 

$main-color: #1A1714;
$accent-color: #45C1F2;
$gray-color: #DDDCDC;
$font: "Gilroy", sans-serif;

// css переменные

:root {
    --var-main-color: #1A1714;
    --var-accent-color: #45C1F2;
    --var-gray-color: #DDDCDC;
    --var-main-font: "Gilroy", sans-serif;
}

body {
    font-family: var(--var-main-font);
    color: var(--var-main-color);
}

// .callbackkiller.cbk-phone.cbk-phone-text-none {
//     opacity: 0;
//     visibility: hidden;
// }
// .callbackkiller.cbk-phone.envy-not-scalling.callbackkiller-mobile {
//     opacity: 0;
//     visibility: hidden;
// }
.main-btn {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 23px 40px;
        box-sizing: border-box;
        background-color: var(--var-accent-color);
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: .35s ease;
    &.transparent-btn {
        border: 1px solid #3EAEDA;
        background-color: #fff;
        color: var(--var-accent-color);
        &:hover {
            background-color: #3EAEDA;
            color: #fff;
        }
    }
    &:hover {
        outline: 1px solid var(--var-accent-color);
        background: #3EAEDA;
        color: #fff;
    }
    @media(max-width:920px) {
        font-size: 14px;
        padding: 13px 20px;
    }
    @media(max-width:560px) {
        padding: 10px 17px;
        font-size: 12px;
    }
}

.burger-btn {
    display: block;                       
    position: relative;
    height: 38px;
    width: 30px;
    border: none;
    background-color: transparent;
    span {
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        background-color: var(--var-main-color);
        height: 2px;
        transition: .35s ease;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 100%;
        height: 2px;
        background-color: var(--var-main-color);
        transition: .35s ease;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 50%;
        height: 2px;
        background-color: var(--var-main-color);
        transition: .35s ease;
    }
    &.active {
        span {
            opacity: 0;
        }
        &::before {
            transform: rotate(45deg);
            top: 50%;
        }
        &::after {
            width: 100%;
            transform: rotate(-45deg);
            top: 50%;
        }
    }
}


.section-title {
    .title {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        color: var(--var-main-color);
        line-height: 1.3;
        display: block;
    }
}


.breaker {
    padding: 20px 0 100px;
    box-sizing: border-box;
    // .breaker__wrap

    &__wrap {
        display: flex;
        box-sizing: border-box;
        padding: 60px;
        align-items: center;
        justify-content: space-between;
        background-image: url(assets/imgs/breaker.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .text {
            margin-right: 30px;
            p {
                font-size: 28px;
                margin: 0;
                display: block;
                line-height: 1.5;
                color: #fff;
            }
        }
        .action {
            width: 100%;
            max-width: 295px;
            .main-btn {
                width: 100%;
                max-width: 295px;
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
}

@media(max-width:1024px) {
    .breaker {
        padding: 25px 0 100px;
        &__wrap {
            flex-direction: column;
            padding: 50px;
            .text {
                width: 100%;
                max-width: 510px;
                margin: 0;
                margin-bottom: 35px;
                p {
                    text-align: center;
                    font-size: 28px;
                }
            }
            .action {

            }
        }
    }
}
@media(max-width:560px) {
    .breaker {
        padding: 15px 0 70px;
        &__wrap {
            padding: 40px 15px ;
            .text {
                margin-bottom: 40px;
                p {
                    font-size: 20px;
                }
            }
            .action {
                .main-btn {
                    font-size: 14px;
                }
            }
        }
    }
}

.section-nav {
    display: none;
}
@media(max-width:767px) {
    .section-nav {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        .prods-prev {
            border: none;
            background-color: transparent;
            img {
                max-width: 100%;
                transform: rotate(180deg);
            }
        }
        .prods-next {
            border: none;
            background-color: transparent;
            img {
                max-width: 100%;

            }
        }
        .pagination {
            width: fit-content;
            margin: 0 25px;
            .swiper-pagination-bullet {
                outline: 1px solid #45C1F2;
                opacity: 1;
                background-color: transparent;
                width: 8px;
                height: 8px;
                &.swiper-pagination-bullet-active {
                    background-color: #45C1F2;
                }
            }
        }
    }
}

.standart-nav-slider {
    z-index: 1000;
    .prev-slide {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: transparent;
        img {
            max-width: 100%;
            transform: rotate(180deg);
        }
    }
    .next-slide {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: transparent;
        img {
            max-width: 100%;
        }
    }
    @media(max-width:1440px) {
        .prev-slide {
            bottom: 0;
            height: fit-content;
            top: auto;
            transform: none;
            left: calc(50% - 80px);
        }
        .next-slide {
            width: fit-content;
            bottom: 0;
            height: fit-content;
            top: auto;
            transform: none;
            left: calc(50% + 55px);
        }
    }
}

.standart-pagination{
    display: none;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    @media(max-width:1440px) {
        display: block;
    }
    .swiper-pagination-bullet {
        pointer-events: all;
        border: 1px solid #45C1F2;
        opacity: 1;
        background-color: transparent;
        &.swiper-pagination-bullet-active {
            background-color: var(--var-accent-color);
        }
    }
}

.rotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    box-sizing: border-box;
    padding: 15px;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    // .popup__body

    &__body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    // .popup__item

    &__item {
        max-width: 530px;
        width: 100%;
        height: 450px;
        background-color: #fff;
        position: relative;
        padding: 50px 50px;
        box-sizing: border-box;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &.active {
            display: flex;
        }
        button {
            &.close-popup {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 12px;
                    background-color: #000;
                    width: calc(100% - 4px);
                    height: 1px;
                    transform: rotate(45deg);
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 12px;
                    background-color: #000;
                    width: calc(100% - 4px);
                    height: 1px;
                    transform: rotate(-45deg);
                }
            }
        }
        .popup-notice {
            opacity: 0;
            visibility: hidden;
            height: 100%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #fff;
            transition: .35s ease;
            z-index: 100;
            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
        .title {
            max-width: 390px;
            margin: 0 auto 30px;
            text-align: center;
            span {
                display: block;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.3;
                color: var(--var-main-color);
            }
        }
        .text {
            font-weight: 350px;
            margin: 0 auto;
            span {
                display: block;
                font-size: 18px;
                color: var(--var-main-color);
                line-height: 1.4;
                opacity: .5;
                text-align: center;
            }
        }
        .form {
            max-width: 350px;
            width: 100%;
            margin: 0 auto;
            form {
                display: block;
                width: 100%;
                box-sizing: border-box;
                .action {
                    display: block;
                    .main-btn {
                        max-width: none;
                        width: 100%;
                    }
                }
                label {
                    display: block;
                    margin-bottom: 30px;
                    position: relative;
                    width: 100%;
                    span {
                        position: absolute;
                        left: 18px;
                        top: -15px;
                        background-color: #fff;
                        padding: 5px;
                        box-sizing: border-box;
                        transition: .25s ease;
                        color: var(--var-main-color);
                    }
                    input {
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 22px 25px;
                        border: 1px solid #DDDCDC;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 1.2;
                        outline: none;
                        color: var(--var-main-color);
                        transition: .35s ease;
                        &:focus {
                            border: 1px solid var(--var-accent-color);
                            outline: none;
                            +span {
                                color: var(--var-accent-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:560px) {
    .popup {
        &__item {
            padding: 25px;
            height: 320px;
            .title {
                margin-bottom: 40px;
                span {
                    font-size: 20px;
                }
            }
            .form {
                .form {
                    label {
                        margin-bottom: 20px;
                        span {
                            font-size: 12px;
                        }
                        input {
                            font-size: 14px;
                        }
                    }
                    .action {
                        button.main-btn {
                            padding: 15px ;
                            top: -10px;
                        }
                    }
                }
            }
        }
    }
}
