.feedback {
    box-sizing: border-box;
    padding: 200px 0;
    // .feedback__title

    &__title {
        max-width: 940px;
        display: block;
        margin-bottom: 90px;
        .title {
            margin: 0;
            display: block;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.3;
            color: var(--var-main-color);
            text-transform: uppercase;
        }
    }

    // .feedback__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .feedback__list

    &__list {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: block;
                box-sizing: border-box;
                padding-left: 85px;
                position: relative;
                min-height: 60px;
                margin-bottom: 35px;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.3;
                color: var(--var-main-color);
                &::before {
                    content: '';
                    background-image: url(assets/imgs/list-check.svg);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    // .feedback__form

    &__form {
        width: 100%;
        max-width: 520px;
        margin-left: 30px;
        form {
            display: flex;
            flex-direction: column;
            label {
                &.file-add {
                    position: relative;
                    margin-bottom: 40px;
                    p {
                       font-size: 16px; 
                       font-weight: 400;
                       margin: 0;
                       display: block;
                       padding-left: 23px;
                       background-image: url(assets/imgs/icons/file.svg);
                       background-size: 11px;
                       background-repeat: no-repeat;
                       background-position: left center;
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                    }
                }
                &.form-input {
                    margin-bottom: 30px;
                    display: block;
                    position: relative;
                    span {
                        padding: 5px ;
                        box-sizing: border-box;
                         background-color: #fff;
                         position: absolute;
                         left: 25px ;
                         top: -12px;
                         font-size: 14px;
                         font-weight: 400;
                         color: #7F7D7C;
                    }
                    input {
                        display: block;
                        width: 100%;
                        background: #FFFFFF;
                        /* Линии */
                        border: 1px solid #DDDCDC;
                        box-sizing: border-box;
                        padding: 20px 25px;
                        text-align: left;
                        color: var(--var-main-color);
                        font-size: 18px;
                        line-height: 1.2;
                        &::placeholder {
                            opacity: .35;
                        }
                        &:focus {
                            border-color: var(--var-accent-color);
                            outline: none;
                        }
                    }
                }
            }
            .button {
                display: block;
                width: 100%;
                .main-btn {
                    max-width: none;
                    width: 100%;
                    text-align: center;
                }
            }
            .checks {
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                label {
                    position: relative;
                    padding-left: 37px;
                    box-sizing: border-box;
                    margin-right: 35px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: -2px;
                        width: 22px;
                        height: 22px;
                        border: 1px solid var(--var-accent-color);
                    }
                    span {
                        position: absolute;    
                        left: 0;
                        top: -2px;
                        background-image: url(assets/imgs/icons/check.svg);
                        width: 23px;
                        z-index: 10;
                        height: 23px;
                        box-sizing: border-box;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        opacity: 0;
                        transition: .35s ease;
                    }
                    p {
                        margin: 0;
                        font-size: 16px;
                        display: block;
                        color: var(--var-main-color);
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        &:checked {
                            +span {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .feedback {
        padding: 100px 0;
        &__title {
            margin-bottom: 50px;
            .title {
                font-size: 38px;
            }
        }
        &__list {
            ul {
                li {
                    font-size: 16px;
                    margin-bottom: 25px;
                }
            }
        }
        &__form {
            max-width: none;
            width: 100%;
            margin: 0;
            form {
                .checks {
                    margin-bottom: 20px;
                    flex-wrap: wrap;
                    label {
                        margin-bottom: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
        &__body {
            flex-direction: column;
            align-items: flex-start;
        }
        &__list {
            width: 100%;
            max-width: none;
            margin: 0 0 60px;
        }
    }
}

@media(max-width:560px) {
    .feedback {
        padding: 70px 0;
        &__title {
            margin-bottom: 30px;
            .title {
                font-size: 24px;
            }            
        }
        &__list {
            margin-bottom: 40px;
            ul {
                li {
                    min-height: 22px;
                    padding-left: 35px;
                    font-size: 14px;
                    &::before {
                        height: 100%;
                        width: 24px;
                        background-size: 24px;
                        background-position: left center;
                    }
                }
            }
        }
        &__form {
            form {
                .button {
                    .main-btn {
                        padding: 15px 20px;
                    }
                }
                label {
                    &.form-input {
                        span {
                            font-size: 12px;
                            left: 15px;
                        }
                        input {
                            padding: 15px 20px;
                            font-size: 14px;
                        }
                    }
                    &.file-add {
                        p {
                            background-size: contain;
                            font-size: 14px;
                            padding-left: 20px;
                        }
                    }
                }
                .checks {
                    label {
                        padding-left: 27px;
                        &::before {
                            width: 17px;
                            height: 17px;
                        }
                        span {
                            width: 19px;
                            height: 19px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}