.footer {
    background-color: #1A1714;
    // .footer__top
    padding: 120px 0 200px;
    box-sizing: border-box;

    &__top {
        display: flex;
    }

    // .footer__col

    &__col {
    }

    // .footer__title

    &__title {
    }

    // .footer__logo

    &__logo {
    }

    // .footer__pays

    &__pays {
    }

    // .footer__type

    &__type {
    }

    // .footer__nav

    &__nav {
    }

    // .footer__bot

    &__bot {
    }
}
.container {
}
.col {
}
.with-sublist {
}
.sublist-menu {
}
.socials {
}
.phone {
}
.info {
}
.mail-ico {
}
.map-ico {
}
.work-ico {
}
.action {
}
.copy {
}
.conf {
}
