.header {
    background-color: #f5f5f5;

    // .header__row

    &__row {
        display: block;   
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    // .header__top

    &__top {
        .header__wrap {
            justify-content: space-between;
            .header__nav {
                margin-right: 30px;
            }
        }
    }

    // .header__nav

    &__nav {
    }

    // .header__email

    &__email {
        a {
            font-size: 14px;
            line-height: 1.3;
            color: var(--var-main-color);
            font-weight: 700;
            text-decoration: none;
            box-sizing: border-box;
            padding-left: 28px;
            background-image: url(assets/imgs/icons/email.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
            transition: .35s ease;
            &:hover {
                color: var(--var-accent-color);
            }
        }
    }

    // .header__search

    &__search {
        max-width: 330px;
        width: 100%;
        form {

        }
    }

    // .header__middle

    &__middle {
        background-color: #fff;
        .mobile__action {
            display: none;
        }
        .header__wrap {
            justify-content: space-between;
            padding: 35px 0;
        }
    }

    // .header__title

    &__title {
        display: flex;
        align-items: center;
        margin-right: 30px;
        p {
            max-width: 280px;
            display: block;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            color: var(--var-main-color);
            opacity: .6;
        }
        a {
            max-width: 250px;
            width: 100%;
            margin-right: 40px;
            img {
                max-width: 100%;
                box-sizing: border-box;
            }
        }
    }

    // .header__socials

    &__socials {
        display: flex;
        align-items: center;
        margin-right: 30pxs;
        a {
            display: block;
            text-decoration: none;
            color: inherit;
            margin-right: 10px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
            svg {
                max-width: 100%;
                border-radius: 50%;
                display: inline-block;
            }
            &.whatsapp-link {

            }
            &.telegram-link{
                svg {
                    fill: #45C1F2;
                }
                &:hover {
                    svg {
                        transition: .35s ease;
                        outline: 1px solid #45C1F2;
                        fill: #fff;
                        path {
                            fill: #45C1F2;
                        }
                    }

                }
            }
            &.whatsapp-link{
                svg {
                    fill: #39D372;
                    outline: none;
                }
                &:hover {
                    svg {
                        background-color: #39D372;
                        transition: .35s ease;
                        outline: 1px solid #39D372;
                        fill: #fff;
                        path {
                        }
                    }

                }
            }
        }
    }

    // .header__tel

    &__tel {
        text-align: right;
        margin-right: 30px;
        a {
            display: block;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.3;
            color: inherit;
            text-decoration: none;
            transition: .35s ease;
            &:hover {
                color: var(--var-accent-color);
            }
        }
        span {
            display: block;
            color: inherit;
            font-weight: 400;
            font-size: 14px;
            opacity: .6;
            line-height: 1.2;
        }
    }

    // .header__action

    &__action {
        .main-btn {
            padding: 17px 40px;
            font-size: 16px;
        }
    }

    // .header__bottom

    &__bottom {
        box-sizing: border-box;
        padding: 18px 0;
        color: #fff;
        background-color: #1a1714d3;
        @media(min-width:768px) {
            &.vission {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                z-index: 1000;
            }
        }
        
        .mobile__nav {
            display: none;
        }
        .header__nav {
            .nav-list {
                li {
                  &.with-sublist {
                    &::before {
                        background-color: #fff;
                    }
                    &::after {
                        background-color: #fff;
                    }
                  }  
                  .sublist-menu {
                    top: 40px;
                  }
                  @media(max-width:1620px) {
                    .sublist-menu {
                        left: auto;
                        right: 0;
                    } 
                  }
                }
                a {
                    color: inherit;
                    &::before {
                        top: 30px;
                        background-color: #fff;
                    }
                }

            }
        }
    }

    // .header__type

    &__type {
        display: flex;
        align-items: center;
        margin-right: auto;
        a {
            display: flex;
            align-items: center;
            margin-right: 60px;
            color: inherit;
            text-decoration: none;
            img {
                display: inline-block;
                max-width: 100%;
                margin-right: 15px;
            }
            &:last-child {
                margin-right: 0;
            }
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                top: 40px;
                opacity: 0;
                background-color: #fff;
                transition: .35s ease;
            }
            @media(max-width:1200px) {
                &::before {
                    top: 30px;
                }
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
.container {
} 
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    li {
        margin: 0;
        padding: 0;
        margin-right: 60px;
        position: relative;
        box-sizing: border-box;
        &:last-child {
            margin-right: 0;
        }
        &.with-sublist {
            padding-right: 24px;
            >a {
            }
            &::before {
                content: '';
                position: absolute;
                right: 4px;
                top: 50%;
                width: 6px;
                height: 1px;
                background-color: #000;
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                position: absolute;
                right: 0px;
                top: 50%;
                width: 6px;
                height: 1px;
                background-color: #000;
                transform: rotate(-45deg);
            }
        }
        >a {
            display: block;
            color: var(--var-main-color);
            font-size: 14px;
            line-height: 1.3;
            text-decoration: none;
            position: relative;
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 1px;
                    background-color: var(--var-accent-color);
                }
            }
        }
        ul {
            
    }
}
.sublist-menu {
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    li {
        a {
           
        }
    }
    margin: 0;
    top: calc(100% + 10px);
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba($color: #d8d8d8, $alpha: .2);
    li {
        padding: 0;
        margin: 0;
        a {
            padding: 12px 25px;
            box-sizing: border-box;
            width: 250px;
            color: var(--var-main-color) !important;
            font-size: 16px;
            transition: .35s ease;
            &:hover {
                background: #F4F4F3;
                &::before {
                    display: none;
                }
            }
        }
    }
}
}
.search-form {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    max-width: 330px;
    width: 100%;
    background-color: #F4F4F3;
    input {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        padding: 9px 15px;
        background-color: transparent;
        border: none;
    }
    button {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        img {
            width: 14px;
            height: 14px;
        }
        border: none;
        background: transparent;
    }
}
.search-btn {
}

@media(max-width:1200px) {
    .header {
        &__top {
            .header__wrap {
                .header__nav {
                    margin-right: 15px;
                }
            }
        }
        .header__nav {
            li {
                margin-right: 15px;
            }
        }
        &__search {
            max-width: 170px;
            form {
                input {
                    font-size: 14px;
                }
            }
        }
        &__title {
            margin-right: 40px;
            max-width: 210px;
            a {
                margin-right: 0;
            }
            p {
                display: none;
            }
        }
        &__middle {
            .header__wrap {
                padding: 15px 0;
                justify-content: unset;
            }
        }
        &__action {
            .main-btn {
                padding: 13px 20px;
                font-size: 14px;
            }
        }
        &__socials {
            margin-right: auto;
            a {
                width: 40px;
                height: 40px;
            }
        }
        &__tel {
            margin-left: 40px;
            a {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }

        &__type {
            a {
                margin-right: 25px;
                font-size: 14px;
                img {
                    display: none;
                }
            }
        }
        &__bottom {
            .header__wrap {
                .header__nav {
                    li {
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}


.header {
    position: relative;
    // .header__mobile
    &__mobile {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 100;
        max-height: calc(100vh - 170px);
        overflow: auto;
        @media(max-width:767px) {
            display: block;
        }
        opacity: 0;
        visibility: hidden;
        transition: .35s  ease;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    // .header__mobile-nav

    &__mobile-nav {
        background-color: #F3F9FB;
        padding: 60px 15px;
        box-sizing: border-box;
        nav {
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                li {
                    margin: 0;
                    display: block;
                    width: 100%;
                    max-width: none;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        display: block;
                        width: 100%;
                    }
                    &.with-sublist {
                        padding-right: 0;
                    }
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                    a {
                        
                    }
                    ul {
                        display: none;
                    }
                }
            }
        }
    }

    // .header__mobile-types

    &__mobile-types {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        a {
            display: block;
            font-weight: 18px;
            font-weight: 700;
            line-height: 1.5;
            color: var(--var-main-color);
            text-decoration: none;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // .header__mobile-info

    &__mobile-info {
        background-color: #fff;
        box-sizing: border-box;
        padding: 60px 15px;
        .info {
            &:first-child  {
                margin-bottom: 30px;
                a {
                    &.tel {
                        display: block;
                        text-decoration: none;
                        color: var(--var-main-color);
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.4;
                        text-align: left;
                    }
                }
            }
            &:last-child {
                a, span, div {
                    box-sizing: border-box;
                    padding-left: 35px;
                    margin-bottom: 30px;
                    text-decoration: none;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    font-weight: 400;
                    font-size: 14px;
                    display: block;
                    line-height: 1.4;
                    color: var(--var-main-color);
                    background-position: left top;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    &.email-ico {
                        background-image: url(assets/imgs/icons/email.svg);
                    }
                    &.map-ico {
                        background-image: url(assets/imgs/icons/map-blue.svg);
                    }
                    &.work-info {
                        background-image: url(assets/imgs/icons/work-blue.svg);
                    }
                    p {
                        display: block;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 1.4;
                        color: var(--var-main-color);
                    }
                    span {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

main.main {
    @media(max-width:767px) {
        margin-top: 178px;
    }
    @media(max-width:560px) {
        margin-top: 120px;
    }
}

@media(max-width:767px) {
   
    .header {
        &.mobile-hide {
            .header__middle {
                display: none;
            }
            .header__mobile {
                max-height: calc(100vh - 70px);
            }
        }
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .mobile__btn {
            margin-left: 15px;
        }
        &__bottom {
            background-color: #fff;
            color: var(--var-main-color);
            border-bottom: 1px solid rgba(221, 220, 220, 1);
            .header__wrap {
                display: none;
                
            }
            .mobile {
                &__nav {
                    display: flex;
                    align-items: center;
                    .header__socials {
                        a {
                            width: 30px;
                            height: 30px;
                            
                        }
                    }
                }
                &__action {
                    margin-right: 15px;
                    button {
                        color: var(--var-main-color);
                    }
                }
                &__button {
                    
                }
                
            }
        }
        &__top {
            display: none;
        }
        &__middle {
            border-bottom: 1px solid rgba(221, 220, 220, 1);
            .mobile__action {
                display: flex;
                align-items: center;
                margin-left: 30px;
                a {
                    width: 22px;
                    height: 22px;
                    box-sizing: border-box;
                    display: flex;                    
                    justify-content: center;
                    align-items: center;
                    margin-right: 22px;
                    img {
                        object-fit: contain;
                        display: inline-block;
                        max-width: 100%;
                    }
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    width: 30px;
                    padding: 0;
                    height: 30px;
                    cursor: pointer;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .header {
                &__title {
                    margin-right: auto;
                    max-width: 140px;
                }
                &__action {
                    display: none;
                }
                &__socials {
                    display: none;
                }
                &__tel {
                    display: none;
                }
            }
        }
    }
}