.hero {

    // .hero__slider

    &__slider {
        position: relative;
        .hero-pagination {
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            flex-direction: column;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 10vw;
            span.swiper-pagination-bullet {
                background-color: transparent;
                border-radius: 0;
                position: relative;
                text-align: right;
                &::before {
                    content: '';
                    width: 11px;
                    height: 11px;
                    outline: 1px solid #fff;
                    position: absolute;
                    left: 0;
                    top: 3px;
                    border-radius: 50%;
                    transition: .35s ease;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 14px;
                    height: 59px;
                    background-color: #fff;
                    width: 1px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                &.swiper-pagination-bullet-active {
                    &::before {
                        background-color: #fff;
                    }
                }
                font-weight: 1000;
                font-size: 16px;
                color: #fff;
                opacity: 1;
                width: 50px;
                height: 10px;
                margin-bottom: 60px;
            }
        }
    }

    // .hero__wrapper-slider

    &__wrapper-slider {
    }

    // .hero__slide

    &__slide {
        color: #fff;
        position: relative;
        padding: 80px 0;
        box-sizing: border-box;
        height: 470px;
        opacity: .5;
        transition: .5s ease;
        &.swiper-slide-active {
            opacity: 1;
        }
    }

    // .hero__slide-text

    &__slide-text {
        padding-right: 240px;
        box-sizing: border-box;
        .text {
            max-width: 980px;
            width: 100%;
            position: relative;
            z-index: 2;
            h2 {
                margin: 0;
                padding: 0;
                font-weight: 900;
                font-size: 50px;
                line-height: 1.2;
                text-transform: uppercase;
                font-weight: 900;
            }
            margin-bottom: 40px;
        }
        .action {
            .main-btn {
                padding: 18px 60px;
                font-size: 18px;
                max-width: 295px;
            }
        }
    }
    // .hero__slide-img

    &__slide-img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 32%;
        height: 100%;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
}
.hero-navigation {
    display: none;
}
@media(max-width:1800px) {
    .hero__slider .hero-pagination {
        left: 10px;
    }
}

@media(max-width:1440px) {
    .hero__slider {
        .hero-navigation{ 
            display: block;
            .hero-next {
                position: absolute;
                left: calc(50% + 55px);
                bottom: 40px;
                top: auto;
                color: #fff;
                background-color: transparent;
                border: none;
                opacity: 1;
                text-align: center;
                transform: rotate(180deg);
                &::after {
                    display: none;
                }
                img{
                    max-width: 100%;
                    height: 34px;
                    display: block;
                    width: 34px;
                }
            }
            .hero-prev {
                &::after {
                    display: none;
                }
                position: absolute;
                left: calc(50% - 80px);
                bottom: 40px;
                top: auto;
                color: #fff;
                background-color: transparent;
                border: none;
                opacity: 1;
                text-align: center;
                img{
                    max-width: 100%;
                }
            }
        }
        .hero-pagination {
            flex-direction: row;
            bottom: 60px;
            top: auto;
            left: 50%;
            transform: translateX(-50%);
            height: fit-content;
            span.swiper-pagination-bullet {
                padding: 0;
                color: transparent;
                margin-bottom: 0;
                &::before {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .hero {
        &__slide {
            padding: 80px 0 130px;
            box-sizing: border-box;
            height: 560px;

        }
        &__slide-text {
            padding-right: 40px;
            .text {
                h2 {
                    font-size: 44px;
                }
            }
        }
        &__slide-img {
            height: auto;
            bottom: -5px;
            width: 400px;
            right: -240px;
            img {
                max-width: 100%;
            }
        }
    }
}

@media(max-width:920px) {
    .hero {
        &__slide {
            padding-top: 40px;
        }
    }
}

@media(max-width:560px) {
    .hero {
        &__slide {
            padding-top: 40px 0 100px;
            height: auto;
        }
        &__slide-img {
            display: none;
        }
        &__slide-text {
            padding: 0;
            .text {
                h2 {
                    font-size: 28px;
                }
            }
            .action {
                .main-btn {
                    font-size: 14px;
                }
            }
        }
    }
}