.partners {
    padding: 100px 0;
    box-sizing: border-box;
    // .partners__title

    &__title {
        margin-bottom: 80px;
        .title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.3
        }
    }
    &__wrap {
       position: relative;
       @media(max-width:1440px) {
            padding-bottom: 55px;
       }
    }

    // .partners__slider

    &__slider {
        max-width: 1290px;
        margin: 0 auto;
    }

    // .partners__slider-wrapper

    &__slider-wrapper {
    }

    // .partners__slider-slide

    &__slider-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        box-sizing: border-box;
        border: 1px solid #dcdcdc;
        img {
            max-width: 100%;
            display: inline-block;
            padding: 30px;
        }
    }
}

@media(max-width:920px) {
    .partners {
        padding: 50px 0;
        &__title {
            margin-bottom: 50px;
            .title {
                font-size: 38px;
            }
        }
    }
}
@media(max-width:768px) {
    .partners {
        padding: 35px 0;
        &__title {
            margin-bottom: 30px;
            .title {
                font-size: 24px;
            }
        }
    }
}
