.works {
    padding: 100px 0;
    box-sizing: border-box;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 135px;
        width: 8%;
        height: 1px;
        background-color: var(--var-accent-color);
        @media(max-width:1600px) {
            display: none;
        }
    }
    // .works__title

    &__title {
        margin-bottom: 80px;
        .title {
            font-weight: 900;
            font-size: 44px;
            color: var(--var-main-color);
        }
    }

    // .works__slider
    &__wrap {
        position: relative;
        @media(max-width:1440px) {
            padding-bottom: 55px;
        }
    }
    &__slider {
        max-width: 1290px;
        margin: 0 auto;
        
    }

    // .works__slider-wrapper

    &__slider-wrapper {
    }

    // .works__slider-slide

    &__slider-slide {
        height: 480px;
        text-decoration: none;
        color: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .name {
            width: 100%;
            height: 120px;
            background: #45c1f2d5;
            display: flex;
            box-sizing: border-box;
            padding: 10px 40px;
            align-items: center;
            span {
                display: block;
                font-weight: 700;
                font-size: 22px;
                line-height: 1.3;
                color: #fff;
            }
        }
    }
}

@media(max-width:920px) {
    .works {
        padding: 50px 0;
        &__slider-slide {
            height: 420px;
            .name {
                padding: 10px 25px;
                height: 80px;
                span {
                    font-size: 20px;
                }
            }
        }
        &__title {
            margin-bottom: 35px;
            .title {
                font-size: 38px;
            }
        }
    }
}


@media(max-width:560px) {
    .works {
        padding: 35px 0;
        &__slider-slide {
            height: 320px;
            .name {

                font-size: 18px;
            }
        }
        &__title {
            margin-bottom: 30px;
            .title {
                font-size: 24px;
            }
        }
    }
}
